body {
  background: #ffffff;
  color: #808080;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  font-weight: 200;
  letter-spacing: 1px;
  color: #222222;
  line-height: 1.5;
}
h2 {
  color: #6f6f6f;
}
section {
  padding: 50px 20px;
  min-height: 500px;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
section .container > h1,
section .container > h2 {
  margin: 0px auto 30px auto;
  text-align: center;
  width: 80%;
}
section .container > h2 {
  margin-bottom: 50px;
}
section.white {
  background: #fff;
}
section#skills {
  padding-top: 0px;
  border-top: 1px #666666 solid;
}
article {
  padding: 20px 0px 50px 0px;
  margin: 0px -20px 0px -20px;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
}
article h1 {
  font-size: 40px;
}
article h2 {
  font-size: 20px;
}
article.brand,
article.brand-light,
article.light {
  background-color: #323232;
  color: #ffffff;
}
article.brand h1,
article.brand-light h1,
article.light h1,
article.brand h2,
article.brand-light h2,
article.light h2 {
  color: #ffffff;
}
article.brand h2,
article.brand-light h2,
article.light h2 {
  color: #e6e6e6;
}
article.light {
  background: #fafafa;
}
article.light h1,
article.light h2 {
  color: #222222;
}
article.light h2 {
  color: #3c3c3c;
}
article.brand-light {
  background: #3f3f3f;
  padding-top: 10px;
}
article.brand.with-bg h1,
article.brand.with-bg h2 {
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
}
a,
a:hover {
  transition: all 0.40s ease;
  outline: 0px !important;
  -webkit-appearance: none;
}
/*
header {
	width:20%;
	background:@brand-bg;
	color:@brand-bg-color;
	position:fixed;
	top:0px;
	left:0px;
	height:100px;
	line-height:100px;
	text-align:center;
	border-left:10px darken(@nav-bg, 10%) solid;

	img {
		max-width:50px;
		max-height:50px;
	}

	h1 {
		text-align:center;
		background:@brand-primary;
		color:@brand-primary-color;
		height:60px;
		line-height:60px;
		width:60px;
		margin:0px;
		padding:0px;
		font-size:14px;
		font-weight:500;
		display:inline-block;
	}
}
*/
#menu {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 20%;
  background: #f7f7f7;
  color: #222222;
}
#menu > nav {
  display: table;
  height: 100%;
  width: 100%;
  /*
		> div:nth-of-type(2) {
			a, a:hover {
				background:lighten(#0c0c0c, 20%);
			}
		}

		> div:nth-of-type(3) {
			a, a:hover {
				background:lighten(#0c0c0c, 30%);
			}

		}
		*/
}
#menu > nav > div {
  display: table-row;
}
#menu > nav > div a,
#menu > nav > div a:hover {
  display: table-cell;
  color: #bbbbbb;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  font-weight: 200;
  letter-spacing: 1px;
  border-right: 10px #dedede solid;
  box-shadow: 0 1px 0 #e5e5e5;
  padding: 10px 0px;
}
#menu > nav > div a i,
#menu > nav > div a:hover i {
  display: none;
}
#menu > nav > div a:hover {
  color: #222222;
  border-right: 10px #d9d9d9 solid;
}
#menu > nav > div a.logo,
#menu > nav > div a.logo:hover {
  padding: 0px !important;
  height: 100px;
  line-height: 100px;
  position: relative;
}
#menu > nav > div a.logo span,
#menu > nav > div a.logo:hover span {
  background-image: url('../img/logo-active.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
#menu > nav > div.current a,
#menu > nav > div.current a:hover {
  padding: 50px 0px;
  /*background:darken(@nav-bg, 5%);*/
  border-right-color: #656565;
  background: #323232;
  color: #ffffff;
}
#menu > nav > div.current a i,
#menu > nav > div.current a:hover i {
  display: block;
  padding-bottom: 20px;
  font-size: 40px;
  color: #bbbbbb;
}
#menu > nav > div.current a.logo span,
#menu > nav > div.current a.logo:hover span {
  background-image: url('../img/logo.png');
}
#content.container-fluid {
  margin: 0px 0px 0px 20%;
  padding: 0px;
}
.container {
  width: 80%;
  margin: auto;
  position: relative;
  padding: 0px 0px 50px 0px;
}
.large-icon {
  font-size: 200px;
  display: block;
}
.tags {
  margin-top: 40px;
  font-size: 13px;
}
.tags > div {
  font-weight: 500;
  text-transform: uppercase;
}
.tags > span {
  opacity: 0.7;
  display: inline-block;
  margin: 10px 5px 5px 0px;
  background: #323232;
  color: #ffffff;
  padding: 6px 10px;
  font-size: 12px;
}
.tags-inline .tags {
  display: inline-block;
  margin: 40px 30px 10px 30px;
}
.vertical-align {
  margin: 100px 0px;
}
/**
 * Sections
 */
#intro h1 {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
  background: rgba(155, 89, 182, 0.7);
  color: #ffffff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 200;
  transform: rotate(45deg);
  animation-duration: 0.1s;
}
#intro h1 span {
  transform: rotate(-45deg);
  animation-duration: 0.1s;
  display: block;
}
#product-development {
  padding-top: 100px;
  padding-bottom: 0px;
}
.logo,
.logo:hover {
  font-weight: 500;
}
.link,
.link:hover,
.link:focus {
  margin-top: 20px;
  border: 3px #9b59b6 solid;
  background: #9b59b6;
  color: #ffffff;
  border-radius: 0px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
}
.link:hover {
  box-shadow: inset -79px 200px 0px -138px #323232;
  color: #fff;
}
.social {
  font-size: 30px;
}
.social a,
.social a:hover {
  display: inline-block;
  background: #9b59b6;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
}
.social a:hover {
  transform: rotateY(180deg);
  perspective: 10px;
  background: #323232;
}
footer {
  margin-left: 20%;
  text-align: center;
  padding-bottom: 100px;
  color: #b3b3b3;
}
form {
  max-width: 400px;
  margin: 30px auto auto auto;
}
.form-control,
.form-control:focus {
  border-radius: 0px;
  box-shadow: none;
  background: #f5f5f5;
  border: 1px transparent solid;
  resize: none;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  font-size: 16px;
}
.form-control:focus {
  background: #323232;
  color: #ffffff;
}
input.btn,
input.btn:hover {
  width: 100%;
  padding: 15px 0px;
  background: #9b59b6;
  border: 3px transparent solid;
  border-radius: 0px;
  font-size: 18px;
  transition: all 0.55s ease;
  color: #ffffff;
}
input.btn:hover {
  box-shadow: inset -79px 200px 0px -138px #323232;
  color: #fff;
  border-color: #9b59b6;
  transition: all 0.55s ease;
}
.overlay-bg {
  background: radial-gradient(ellipse closest-corner at 50% 55%, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.3s ease-in-out 0s;
  z-index: 0;
}
form i {
  font-size: 20px;
  color: #323232;
}
.email .alert {
  width: 40%;
  margin: auto;
}
section .container.phpfox > h1 {
  text-align: left;
  margin-top: 50px;
  width: auto;
}
@media (max-device-width: 800px), (max-width: 800px) {
  #menu {
    display: none;
  }
  #content.container-fluid,
  footer {
    margin-left: 0px;
  }
  section,
  article {
    background-attachment: scroll;
  }
}
